# Copyright (C) 2022, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# SEAPATH configuration file sample
# This file can be used as example to create a seapath.conf file.
# Each variable defined here is set as it default value.

# Keymap
SEAPATH_KEYMAP='us'
