# Copyright (C) 2022, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# SEAPATH configuration file sample
# This file can be used as example to create a seapath.conf file.
# Each variable defined here is set as it default value.

# Keymap
SEAPATH_KEYMAP='us'

# Limite the number of jobs to compile Ceph to avoid out of memory errors
SEAPATH_PARALLEL_MAKE='8'

# CPUs reserved for real time applications, containers and VMs.
# It can be an single CPU or a plage delimited by - (e.g. 2-5). Mulitples CPUs
# and plages can be defined using , as seperator (e.g 0,2-5,7,10-12).
# The CPU enumeration begins at 0, so the maximum value is 1 less than the
# number of CPUs core on the system.
# If not defined, no CPU will be reserved.
SEAPATH_RT_CORES=''

# Hashed password to access Grub shell if security is enabled.
# The password has to be stored hashed in pbkdf2 format.
# To generate the hashed from the plain password, the following command can be
# used:
# grub-mkpasswd-pbkdf2 -c 65536 -s 256 -l 64
SEAPATH_GRUB_PASSWORD=''

# Time in seconds grub waiting before boot SEAPATH.
SEAPATH_GRUB_TIMEOUT='0'

# Set to true to disable IPv6.
SEAPATH_DISABLE_IPV6='false'

# Set to true to disable IPv6 for guest images
SEAPATH_GUEST_DISABLE_IPV6='false'

# Set to 1 to skip the compilation option report. Reduce the generation time by
# more than one hour. Set anything else to generate the report.
SEAPATH_SECCOMPILE_MANIFEST_SKIP='1'

# Disk to autoflash with the flasher image. If not set or empty the autoflash
# will be disabled. Ex : /dev/sda
SEAPATH_AUTO_FLASH=""
